$color1: white;
$color2: black;
$color3: rgb(214, 167, 26);
$color4: rgb(134, 126, 126);
$color5: rgb(36, 131, 199);
$color6: brown;
$color7: seagreen;

$font-family1: 'Roboto', sans-serif;
$font-family2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;